<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>{{administrativeData.project_title}}</h2></mat-card-title>
      <mat-card-subtitle>A Data Management Plan created using this tool</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>1. Administrative Data</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>Title of the project:</b>
            </p>
            <p class="answer">
              {{administrativeData.project_title}}
            </p>
            <p class="question">
              <b>Author of this document:</b>
            </p>
            <table border="1" class="answer">
              <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Orcid-Identifier</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>{{administrativeData.family_name}} {{administrativeData.given_name}}</td>
                <td>{{administrativeData.email}}</td>
                <td>{{administrativeData.orcid}}</td>
                <td>{{administrativeData.country}}</td>
              </tr>
            </table>
            <p class="question">
              <b>Contact Person for the Data Management Plan:</b>
            </p>
            <table border="1" class="answer">
              <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Orcid-Identifier</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>{{administrativeData.family_name}} {{administrativeData.given_name}}</td>
                <td>{{administrativeData.email}}</td>
                <td>{{administrativeData.orcid}}</td>
                <td>{{administrativeData.country}}</td>
              </tr>
            </table>
            <p class="question">
              <b>Version of the document and date:</b>
            </p>
            <p class="answer">
              Version: 1.0.0<br>
              Date: {{date | date:'yyyy-MM-dd'}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>2. Documentation</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>What documentation will accompany the data?</b>
            </p>
            <p class="answer">
              Each resource contains a short description on Zenodo where the DOI's got created.
              There is no special format for the description.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>3. Metadata</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>What metadata will accompany the data?</b>
            </p>
            <p class="answer">
              For resources other then software the metadata available from Zenodo will be provided.
              If the resources contain software and the software is hosted on a public Github
              repository, then metadata from Github will be used.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>4. Ethics and Legal Compliance</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>How will you manage copyright and Intellectual Property Rights (IPR) issues?</b>
            </p>

          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>5. Storage and Backup</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>How will the data be stored and backed up during the research?</b>
            </p>
            <p class="question">
              <b>How will you manage access and security?</b>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>6. Selection and Preservation</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>Which data should be retained, shared and/or preserved?</b>
            </p>
            <p class="question">
              <b>What is the long-term preservation plan for the dataset?</b>
            </p>
            <p class="answer" *ngFor="let tag of tags">
              For {{tag}} resources a preservation duration of {{preservationDurationMap.get(tag)}}
              years is planned.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>7. Data Sharing</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>How will you share the data?</b>
            </p>

          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title><h3>8. Responsibilities and Resources</h3></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="question">
              <b>Who will be responsible for data management?</b>
            </p>
            <p class="answer">
              The author of the DMP ({{administrativeData.family_name}}
              {{administrativeData.given_name}}) is responsible for the implementation of the
              DMP and is also responsible for ensuring that the DMP is reviewed and revised.
            </p>
            <p class="question">
              <b>What resources will you require to implement your data management plan?</b>
            </p>
            <p class="answer">
              For long-term archiving of the data, the research data repository Zenodo is used.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- ################################################################################ -->
    </mat-card-content>
  </mat-card>
</div>
