.question {
  margin: 1%;
}

.answer {
  margin: 1% 1% 1% 2%;
}

.category {
  height: 50px;
  /*margin: 5px;*/
  margin-top: .5em;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  line-height: 50px;
}
