<p>GitHub: </p>
<p>tag: {{resource.tag}}</p>
<p>
  {{resource.repoName}}
</p>

<p *ngIf="resource.licence_url !== ''">
  <a [href]="resource.licence_url" target="_blank">{{resource.license}}</a>
</p>
<p *ngIf="resource.licence_url === ''">
  no licence information is provided
</p>
Repo Owner:
<p *ngIf="resource.owner !== undefined ">
  <a [href]="resource.owner.html_url" target="_blank"> {{resource.owner.login}} </a>
</p>

<p>
  <!--<img [src]="resource.owner.avatar_url">-->
</p>

<br/>
Server side size: {{resource.size}} KB<br/>
Contributors:
<p *ngFor="let contributor of resource.contributors">
  <a [href]="contributor.html_url" target="_blank"> {{contributor.login}}</a>
  <br/>
  <!--<img [src]="contributor.avatar_url">-->
</p>
Languages:

<p *ngFor="let language of resource.languages">
  {{language.name}} - {{language.loc}}
</p>
