<p>
  <b>Repository: </b>{{resource.repoName}}
</p>

<p>
  <b>License: </b>
</p>
<p *ngIf="resource.licence_url !== ''">
  <a [href]="resource.licence_url" target="_blank">{{resource.license}}</a>
</p>
<p *ngIf="resource.licence_url === ''">
  no licence information is provided
</p>

<p *ngIf="resource.owner !== undefined ">
  <b>Repository Owner:</b>
  <a [href]="resource.owner.html_url" target="_blank">{{resource.owner.login}}</a>
</p>

<p>
  <b>Server-side size: </b>{{resource.size}} KB
</p>

<p>
  <b>Contributors: </b>
</p>
<p *ngFor="let contributor of resource.contributors">
  <a [href]="contributor.html_url" target="_blank"> {{contributor.login}}</a>
  <br/>
  <img width="64" [src]="contributor.avatar_url">
</p>

<p>
  <b>Languages: </b>
</p>
<p *ngFor="let language of resource.languages">
  {{language.name}} - {{language.loc}}
</p>
