.iD-icon {
  padding: 0 5px 0 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.category {
  height: 50px;
  margin-top: .5em;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  line-height: 50px;
}

.card_styling {
  margin: 5% 5% 5% 0;
}

.data_left {
  width: 45%;
  float: left;
}

.data_right {
  width: 45%;
  float: right;
}
