.iD-icon {
  padding: 0 5px 0 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  display: grid;
  grid-template-columns: 45% 5% 50%;
}

.left {
  grid-column-start: 1;

}

.right {
  grid-column-start: 3;
}
